USE [master]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [zaihai_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [zaihai_db]
GO
/****** Object:  Table [dbo].[m_accounts]    Script Date: 2024/07/24 8:59:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emp_no] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[role] [nvarchar](255) NOT NULL,
	[date_updated] [datetime2](2) NOT NULL,
 CONSTRAINT [PK_m_accounts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_applicator]    Script Date: 2024/07/24 8:59:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_applicator](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[applicator_no] [nvarchar](100) NOT NULL,
	[zaihai_stock_address] [nvarchar](100) NOT NULL,
	[date_updated] [datetime2](2) NOT NULL,
 CONSTRAINT [PK_m_applicator_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_applicator_terminal]    Script Date: 2024/07/24 8:59:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_applicator_terminal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[applicator_no] [nvarchar](100) NOT NULL,
	[terminal_name] [nvarchar](100) NOT NULL,
	[date_updated] [datetime2](2) NOT NULL,
 CONSTRAINT [PK_m_applicator] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_terminal]    Script Date: 2024/07/24 8:59:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_terminal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[terminal_name] [nvarchar](100) NOT NULL,
	[line_address] [nvarchar](100) NOT NULL,
	[date_updated] [datetime2](2) NOT NULL,
 CONSTRAINT [PK_m_terminal] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_applicator_c]    Script Date: 2024/07/24 8:59:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_applicator_c](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[serial_no] [nvarchar](255) NOT NULL,
	[equipment_no] [nvarchar](255) NOT NULL,
	[machine_no] [nvarchar](100) NOT NULL,
	[terminal_name] [nvarchar](100) NOT NULL,
	[zaihai_stock_address] [nvarchar](100) NOT NULL,
	[line_address] [nvarchar](100) NOT NULL,
	[inspection_date_time] [datetime2](2) NOT NULL,
	[inspection_shift] [nvarchar](5) NOT NULL,
	[adjustment_content] [nvarchar](255) NULL,
	[cross_section_result] [int] NULL,
	[inspected_by] [nvarchar](255) NOT NULL,
	[inspected_by_no] [nvarchar](255) NOT NULL,
	[checked_by] [nvarchar](255) NULL,
	[checked_by_no] [nvarchar](255) NULL,
	[confirmed_by] [nvarchar](255) NULL,
	[confirmed_by_no] [nvarchar](255) NULL,
	[judgement] [int] NULL,
	[ac1] [int] NOT NULL,
	[ac1_s] [nvarchar](255) NULL,
	[ac1_r] [nvarchar](255) NULL,
	[ac2] [int] NOT NULL,
	[ac2_s] [nvarchar](255) NULL,
	[ac2_r] [nvarchar](255) NULL,
	[ac3] [int] NOT NULL,
	[ac3_s] [nvarchar](255) NULL,
	[ac3_r] [nvarchar](255) NULL,
	[ac4] [int] NOT NULL,
	[ac4_s] [nvarchar](255) NULL,
	[ac4_r] [nvarchar](255) NULL,
	[ac5] [int] NOT NULL,
	[ac5_s] [nvarchar](255) NULL,
	[ac5_r] [nvarchar](255) NULL,
	[ac6] [int] NOT NULL,
	[ac6_s] [nvarchar](255) NULL,
	[ac6_r] [nvarchar](255) NULL,
	[ac7] [int] NOT NULL,
	[ac7_s] [nvarchar](255) NULL,
	[ac7_r] [nvarchar](255) NULL,
	[ac8] [int] NOT NULL,
	[ac8_s] [nvarchar](255) NULL,
	[ac8_r] [nvarchar](255) NULL,
	[ac9] [int] NOT NULL,
	[ac9_s] [nvarchar](255) NULL,
	[ac9_r] [nvarchar](255) NULL,
	[ac10] [int] NOT NULL,
	[ac10_s] [nvarchar](255) NULL,
	[ac10_r] [nvarchar](255) NULL,
 CONSTRAINT [PK_t_applicator_c] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_applicator_in_out]    Script Date: 2024/07/24 8:59:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_applicator_in_out](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[serial_no] [nvarchar](255) NOT NULL,
	[applicator_no] [nvarchar](100) NOT NULL,
	[terminal_name] [nvarchar](100) NOT NULL,
	[trd_no] [nvarchar](255) NOT NULL,
	[operator_out] [nvarchar](255) NOT NULL,
	[date_time_out] [datetime2](2) NOT NULL,
	[zaihai_stock_address] [nvarchar](255) NULL,
	[operator_in] [nvarchar](255) NULL,
	[date_time_in] [datetime2](2) NULL,
 CONSTRAINT [PK_t_applicator_in_out] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_applicator_in_out_history]    Script Date: 2024/07/24 8:59:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_applicator_in_out_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[serial_no] [nvarchar](255) NOT NULL,
	[applicator_no] [nvarchar](100) NOT NULL,
	[terminal_name] [nvarchar](100) NOT NULL,
	[trd_no] [nvarchar](255) NOT NULL,
	[operator_out] [nvarchar](255) NOT NULL,
	[date_time_out] [datetime2](2) NOT NULL,
	[zaihai_stock_address] [nvarchar](255) NOT NULL,
	[operator_in] [nvarchar](255) NOT NULL,
	[date_time_in] [datetime2](2) NOT NULL,
 CONSTRAINT [PK_t_applicator_in_out_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_applicator_list]    Script Date: 2024/07/24 8:59:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_applicator_list](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[car_maker] [nvarchar](255) NOT NULL,
	[car_model] [nvarchar](255) NOT NULL,
	[applicator_no] [nvarchar](100) NOT NULL,
	[location] [nvarchar](255) NOT NULL,
	[status] [nvarchar](255) NOT NULL,
	[date_updated] [datetime2](2) NOT NULL,
 CONSTRAINT [PK_t_applicator_list] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[m_accounts] ON 

INSERT [dbo].[m_accounts] ([id], [emp_no], [full_name], [role], [date_updated]) VALUES (1, N'22-08675', N'Alcantara, Vince Dale D.', N'Shop', CAST(N'2024-07-06T13:24:41.0100000' AS DateTime2))
INSERT [dbo].[m_accounts] ([id], [emp_no], [full_name], [role], [date_updated]) VALUES (2, N'24-00000', N'Inpector1', N'Inspector', CAST(N'2024-07-10T09:33:42.9200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[m_accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[m_applicator] ON 

INSERT [dbo].[m_applicator] ([id], [applicator_no], [zaihai_stock_address], [date_updated]) VALUES (4, N'FS-11200/FS-100', N'R1-1', CAST(N'2024-07-19T15:55:36.6200000' AS DateTime2))
INSERT [dbo].[m_applicator] ([id], [applicator_no], [zaihai_stock_address], [date_updated]) VALUES (5, N'FS-4400/FS-100', N'R1-2', CAST(N'2024-07-19T15:55:36.6500000' AS DateTime2))
INSERT [dbo].[m_applicator] ([id], [applicator_no], [zaihai_stock_address], [date_updated]) VALUES (6, N'FS-11192/FS-100', N'R1-3', CAST(N'2024-07-19T15:55:36.6900000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[m_applicator] OFF
GO
SET IDENTITY_INSERT [dbo].[m_applicator_terminal] ON 

INSERT [dbo].[m_applicator_terminal] ([id], [applicator_no], [terminal_name], [date_updated]) VALUES (4, N'FS-11200/FS-100', N'FDSF03', CAST(N'2024-07-19T15:53:41.2000000' AS DateTime2))
INSERT [dbo].[m_applicator_terminal] ([id], [applicator_no], [terminal_name], [date_updated]) VALUES (5, N'FS-4400/FS-100', N'FDSF03', CAST(N'2024-07-19T15:53:41.2400000' AS DateTime2))
INSERT [dbo].[m_applicator_terminal] ([id], [applicator_no], [terminal_name], [date_updated]) VALUES (6, N'FS-11192/FS-100', N'FDSF03', CAST(N'2024-07-19T15:53:41.2800000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[m_applicator_terminal] OFF
GO
SET IDENTITY_INSERT [dbo].[m_terminal] ON 

INSERT [dbo].[m_terminal] ([id], [terminal_name], [line_address], [date_updated]) VALUES (4, N'ABD-F', N'S03A1', CAST(N'2024-07-19T15:56:35.2800000' AS DateTime2))
INSERT [dbo].[m_terminal] ([id], [terminal_name], [line_address], [date_updated]) VALUES (5, N'ABD-F', N'S03A2', CAST(N'2024-07-19T15:56:35.3200000' AS DateTime2))
INSERT [dbo].[m_terminal] ([id], [terminal_name], [line_address], [date_updated]) VALUES (6, N'AG-50', N'S03A3', CAST(N'2024-07-19T15:56:35.3600000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[m_terminal] OFF
GO
SET IDENTITY_INSERT [dbo].[t_applicator_c] ON 

SET IDENTITY_INSERT [dbo].[t_applicator_c] OFF
GO
SET IDENTITY_INSERT [dbo].[t_applicator_in_out_history] ON 

INSERT [dbo].[t_applicator_in_out_history] ([id], [serial_no], [applicator_no], [terminal_name], [trd_no], [operator_out], [date_time_out], [zaihai_stock_address], [operator_in], [date_time_in]) VALUES (1, N'MEI-295-AC-24070605c5cc1', N'AO-14016/565200', N'PS-200-2**s0n200526410', N'TRD222', N'22-08675', CAST(N'2024-07-06T17:01:48.3100000' AS DateTime2), N'Zaihai-01', N'22-08675', CAST(N'2024-07-06T17:25:50.0000000' AS DateTime2))
INSERT [dbo].[t_applicator_in_out_history] ([id], [serial_no], [applicator_no], [terminal_name], [trd_no], [operator_out], [date_time_out], [zaihai_stock_address], [operator_in], [date_time_in]) VALUES (2, N'MEI-295-AC-24070605cec9d', N'AO-14016/565200', N'PS-200-2**s0n200526410', N'TRD222', N'22-08675', CAST(N'2024-07-06T17:26:50.4100000' AS DateTime2), N'Zaihai-01', N'22-08675', CAST(N'2024-07-06T17:27:03.0000000' AS DateTime2))
INSERT [dbo].[t_applicator_in_out_history] ([id], [serial_no], [applicator_no], [terminal_name], [trd_no], [operator_out], [date_time_out], [zaihai_stock_address], [operator_in], [date_time_in]) VALUES (3, N'MEI-295-AC-240706057dcef', N'AO-14016/565200', N'PS-200-2**s0n200526410', N'TRD222', N'22-08675', CAST(N'2024-07-06T17:48:20.1200000' AS DateTime2), N'Zaihai-01', N'22-08675', CAST(N'2024-07-06T17:48:34.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[t_applicator_in_out_history] OFF
GO
SET IDENTITY_INSERT [dbo].[t_applicator_list] ON 

INSERT [dbo].[t_applicator_list] ([id], [car_maker], [car_model], [applicator_no], [location], [status], [date_updated]) VALUES (411, N'Suzuki', N'YV7', N'FS-11200/FS-100', N'R1-1', N'Ready To Use', CAST(N'2024-07-19T16:07:53.0000000' AS DateTime2))
INSERT [dbo].[t_applicator_list] ([id], [car_maker], [car_model], [applicator_no], [location], [status], [date_updated]) VALUES (412, N'Suzuki', N'YV7', N'FS-4400/FS-100', N'R1-2', N'Ready To Use', CAST(N'2024-07-19T16:07:18.0000000' AS DateTime2))
INSERT [dbo].[t_applicator_list] ([id], [car_maker], [car_model], [applicator_no], [location], [status], [date_updated]) VALUES (413, N'Suzuki', N'YV7', N'FS-11192/FS-100', N'R1-3', N'Ready To Use', CAST(N'2024-07-19T15:51:24.0100000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[t_applicator_list] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_emp_no]    Script Date: 2024/07/24 8:59:51 am ******/
ALTER TABLE [dbo].[m_accounts] ADD  CONSTRAINT [UX_emp_no] UNIQUE NONCLUSTERED 
(
	[emp_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_applicator_no_zsa_a]    Script Date: 2024/07/24 8:59:51 am ******/
ALTER TABLE [dbo].[m_applicator] ADD  CONSTRAINT [UX_applicator_no_zsa_a] UNIQUE NONCLUSTERED 
(
	[applicator_no] ASC,
	[zaihai_stock_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_applicator_no_terminal_name]    Script Date: 2024/07/24 8:59:51 am ******/
ALTER TABLE [dbo].[m_applicator_terminal] ADD  CONSTRAINT [UX_applicator_no_terminal_name] UNIQUE NONCLUSTERED 
(
	[applicator_no] ASC,
	[terminal_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_terminal_name_la_t]    Script Date: 2024/07/24 8:59:51 am ******/
ALTER TABLE [dbo].[m_terminal] ADD  CONSTRAINT [UX_terminal_name_la_t] UNIQUE NONCLUSTERED 
(
	[terminal_name] ASC,
	[line_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_serial_no_ac]    Script Date: 2024/07/24 8:59:51 am ******/
ALTER TABLE [dbo].[t_applicator_c] ADD  CONSTRAINT [UX_serial_no_ac] UNIQUE NONCLUSTERED 
(
	[serial_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_serial_no_aio]    Script Date: 2024/07/24 8:59:51 am ******/
ALTER TABLE [dbo].[t_applicator_in_out] ADD  CONSTRAINT [UX_serial_no_aio] UNIQUE NONCLUSTERED 
(
	[serial_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_applicator_no_aio]    Script Date: 2024/07/24 8:59:52 am ******/
CREATE NONCLUSTERED INDEX [IX_applicator_no_aio] ON [dbo].[t_applicator_in_out]
(
	[applicator_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_terminal_name_aio]    Script Date: 2024/07/24 8:59:52 am ******/
CREATE NONCLUSTERED INDEX [IX_terminal_name_aio] ON [dbo].[t_applicator_in_out]
(
	[terminal_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_serial_no_aioh]    Script Date: 2024/07/24 8:59:52 am ******/
ALTER TABLE [dbo].[t_applicator_in_out_history] ADD  CONSTRAINT [UX_serial_no_aioh] UNIQUE NONCLUSTERED 
(
	[serial_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_applicator_no_list]    Script Date: 2024/07/24 8:59:52 am ******/
ALTER TABLE [dbo].[t_applicator_list] ADD  CONSTRAINT [UX_applicator_no_list] UNIQUE NONCLUSTERED 
(
	[applicator_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[m_accounts] ADD  CONSTRAINT [DF_m_accounts_date_updated]  DEFAULT (getdate()) FOR [date_updated]
GO
ALTER TABLE [dbo].[m_applicator] ADD  CONSTRAINT [DF_m_applicator_date_updated_1]  DEFAULT (getdate()) FOR [date_updated]
GO
ALTER TABLE [dbo].[m_applicator_terminal] ADD  CONSTRAINT [DF_m_applicator_date_updated]  DEFAULT (getdate()) FOR [date_updated]
GO
ALTER TABLE [dbo].[m_terminal] ADD  CONSTRAINT [DF_m_terminal_date_updated]  DEFAULT (getdate()) FOR [date_updated]
GO
ALTER TABLE [dbo].[t_applicator_c] ADD  CONSTRAINT [DF_t_applicator_c_equipment_no]  DEFAULT (N'N/A') FOR [equipment_no]
GO
ALTER TABLE [dbo].[t_applicator_c] ADD  CONSTRAINT [DF_t_applicator_c_machine_no]  DEFAULT (N'N/A') FOR [machine_no]
GO
ALTER TABLE [dbo].[t_applicator_c] ADD  CONSTRAINT [DF_t_applicator_c_adjustment_content]  DEFAULT (N'N/A') FOR [adjustment_content]
GO
ALTER TABLE [dbo].[t_applicator_c] ADD  CONSTRAINT [DF_t_applicator_c_cross_section_result]  DEFAULT ((4)) FOR [cross_section_result]
GO
ALTER TABLE [dbo].[t_applicator_in_out] ADD  CONSTRAINT [DF_t_applicator_in_out_date_time_out]  DEFAULT (getdate()) FOR [date_time_out]
GO
ALTER TABLE [dbo].[t_applicator_list] ADD  CONSTRAINT [DF_t_applicator_list_date_updated]  DEFAULT (getdate()) FOR [date_updated]
GO
USE [master]
GO
